{
  "plugins": [
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "error",
    "no-warning-comments": "off",
    "no-mixed-operators": "off",
    "guard-for-in": "off",
    "max-params": [
      "warn",
      {
        "max": 5
      }
    ],
    "new-cap": "off",
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ]
  }
}
